@value darkerBackground from "styles/colors.css";

.notes {
  font-family: 'Roboto', sans-serif;
  flex: 1 1 fit;
  max-height: 25vw;
  background: darkerBackground;
  padding: 10px;
  margin: 10px;
}
