/* Colors: https://github.com/johnotander/gray */
* {
  box-sizing: border-box;
  margin: 0;
  color: #1a1a1a;
}

.styles__container___2eqx2 {
  height: 100vh;
  display: flex;
  flex-direction: row;
  background: #fafafa;
}

.styles__main___kaf0B {
  width: 75vw;
  overflow: hidden;

  display: flex;
  position: relative;
  flex-direction: column;
}

.styles__overlay___3V3fn {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: flex-end;;

  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.styles__sidebar___1pUM5 {
  font-family: "Roboto Mono", monospace;
  padding: 1vw;
  width: 25vw;
  overflow: scroll;
  background: #c0c0c0;
  margin: 10px;
}
.styles__visualiser___3Yj1X {
  font-family: 'Roboto Mono', monospace;
  font-size: .8em;
  white-space: pre;
  overflow: auto;
}
.styles__visualiser___3Yj1X .styles__visualiserSpacing___3ymPB {
  cursor: default;
}
.styles__visualiser___3Yj1X .styles__visualiserArrow___3rS4G {
  cursor: pointer;
}
.styles__visualiser___3Yj1X .styles__visualiserRow___3qGoJ {
  display: inline-block;
}
.styles__stepIconStyles___3COEO {
  background: #c0c0c0;
  padding: 0.8vh 0.8vw;
  color: #1a1a1a;
  font-family: "Roboto", monospace;
}
.styles__progressBar___3KQ2A {
  flex: 1 1 auto;
  overflow: hidden;
  max-width: 10%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 10px;
}
.styles__notes___2lubm {
  font-family: 'Roboto', sans-serif;
  flex: 1 1 content;

  opacity: 0.9;
  max-height: 25vw;
  background: #c0c0c0;
  padding: 10px;
  margin: 5px;
  margin-bottom: 15%;
}
.styles__code___3FaWi {
  flex: 1 1 auto;

  background: #e0e0e0;
  margin: 10px;
  padding: 5px;
  overflow: hidden;
}
.styles__header___2KCu_ {
  font-family: "Roboto Mono", monospace;

  font-size: 12px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 5vh;
  background: mediumBackground;
  margin: 10px 10px 0px 10px;
  padding: 10px 0px 10px 0px;
  overflow: hidden;
}

.styles__headerRight___2ykEK {
  /*border: 1px dotted dark;*/
  flex: 1 1 auto;
  z-index: 99;
  display: flex;
  justify-content: space-around;
}

.styles__headerLeft___3QNbL {
  /*border: 1px dotted dark;*/
  flex: 1 1 auto;
  z-index: 99;
  display: flex;
  justify-content: flex-start;
}
