@value darkerBackground from "styles/colors.css";

.sidebar {
  font-family: "Roboto Mono", monospace;
  padding: 1vw;
  width: 25vw;
  overflow: scroll;
  background: darkerBackground;
  margin: 10px;
}
