@value dark from "styles/colors.css";

.header {
  font-family: "Roboto Mono", monospace;

  font-size: 12px;
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;

  height: 5vh;
  background: mediumBackground;
  margin: 10px 10px 0px 10px;
  padding: 10px 0px 10px 0px;
  overflow: hidden;
}

.headerRight {
  /*border: 1px dotted dark;*/
  flex: 1 1 auto;
  z-index: 99;
  display: flex;
  justify-content: flex-end;
}

.headerLeft {
  /*border: 1px dotted dark;*/
  flex: 1 1 auto;
  z-index: 99;
  display: flex;
  justify-content: flex-start;
}

.buttonGroup {
  flex: 1 1 auto;
  /*border: 1px dotted dark;*/
  max-width: 50%;
  display: flex;
  justify-content: space-between;
}

.button {
  /*border: 1px dotted dark;*/
  flex: 1 1 fit;
}
