@value dark, lighterBackground from "styles/colors.css";

* {
  box-sizing: border-box;
  margin: 0;
  color: dark;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  background: lighterBackground;
}

.main {
  width: 75vw;

  display: flex;
  flex-direction: column;
}

.codeContainer {
  flex: 4 1 auto;

  display: flex;
}
