@value dark, lighterBackground, mediumBackground from "styles/colors.css";

* {
  box-sizing: border-box;
  margin: 0;
  color: dark;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  background: lighterBackground;
  perspective: 1000px;
}

.trackBar {
  flex: 1 1 auto;
  max-width: 10%;

  display: flex;
}

.main {
  width: 75vw;
  overflow: hidden;

  display: flex;
  position: relative;
  flex-direction: column;
}

.overlay {
  position: absolute;

  display: flex;
  justify-content: center;
  align-items: flex-end;;

  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
