.visualiser {
  font-family: 'Roboto Mono', monospace;
  font-size: .8em;
  white-space: pre;
  overflow: auto;
}
.visualiser .visualiserSpacing {
  cursor: default;
}
.visualiser .visualiserArrow {
  cursor: pointer;
}
.visualiser .visualiserRow {
  display: inline-block;
}
