@value lighterBackground, dark from "styles/colors.css";

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.lesson {
  background: lighterBackground;
  box-shadow: 2px 2px 2px dark;
  font-family: "Roboto Mono", monospace;
  margin: 10px;
}
