@value lighterBackground, mediumBackground, darkerBackground, dark from "styles/colors.css";

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.lesson {
  background: mediumBackground;
  font-family: "Roboto", monospace;
  margin: 10px;
  padding: 5px;
}

.selectedLesson {
  background: darkerBackground;
  font-family: "Roboto", monospace;
  margin: 10px;
  color: lighterBackground;
  padding: 5px;
}
